#cabeca{font-family:arial;text-align: right;}

.texto{font-family:arial;font-weight: bold;text-align:justify;color:#ccbb99; font-size: 25px;}

.fundo{background-image: url("imagens/fundo_final.jpg")}

#italico{font-size: italic;}