.black{
	background-color: black;
	background-image: url("imagens/fundo_matrix.jpg");
}

.lado{

	background-image: url("imagens/fundo_neo.jpg");
	background-attachment: fixed;
	background-repeat: repeat-y;
	background-position: 90% 10%;

}